<h1>New Bulk Discount</h1>

<%= render partial: "form", locals: { path: merchant_bulk_discount_path(@merchant, @discount), method: :patch, discount_value: @discount.discount, threshold_value: @discount.threshold } %>
