<%= render partial: "shared/header", locals: { subtitle: @merchant.name } %>
<h3 style="text-align:center;background-color:whitesmoke;border-top-style:solid">Bulk Discount #<%= @discount.id %></h3>

<p>Quantity Threshold: <%= @discount.threshold %> items</p>
<p>Percentage Discount: <%= @discount.discount %>%</p>